@media (min-width:1200px){
    .carrusel-cabezera {
        max-height: 285px;
    }

    .boton-ver{
        width: 49%;
    }

    .boton-agregar{
        width: 49%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .carrusel-cabezera {
        max-height: 235px;
    }

    .boton-ver{
        width: 48%;
    }

    .boton-agregar{
        width: 48%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .carrusel-cabezera {
        max-height: 175px;
    }

    .boton-ver{
        margin-bottom: 5px;
        width: 100%;
    }

    .boton-agregar{
        width: 100%;
    }
}

@media  (max-width: 767px){
    .carrusel-cabezera {
        max-height: 130px;
    }

    .boton-ver{
        margin-bottom: 5px;
        width: 100%;
    }

    .boton-agregar{
        width: 100%;
    }
}

.producto-card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card{
    -webkit-box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.65);
    box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.65);
}

.precio{
    margin-top: 15px;
    padding: 5px;
    -webkit-box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.65);
    box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.65);
}

.botones-compras{
    margin: 10px;
}

.detalle-producto{
    margin-top: 15px;
}